<h2>Breeds</h2>
<% @breeds.each do |breed| %>
  <div class="container">
    <p><%= breed.name %></p>
    <p class="count-container">Cats within the breed: <%= breed.cats_count %></p>
    <% if current_user&.is_admin %>
      <%= button_to "Delete breed", breed_path(breed), method: :delete, class:"button-breed"  %>
    <% end %>
  </div>
<% end %>
<br>
<%= form_with url: "/breeds", method: :get do |form| %>
  <%= form.label :search_string, "Search for:" %>
  <%= form.text_field :search_string, value: params[:search_string] %>
  <%= form.label :rarity, 'Rarity:' %>
  <%= form.select :rarity, %w[0 1], selected: params[:rarity] %>
  <%= form.submit "Search" %>
<% end %>
